:root {
  --black: #000;
  --white: #fff;
  --background-dark-gray: #252525;
  --background-light-gray: lightgray;
  --yellow: #e6bd43;

  --spacing-normal: 24px;
  --spacing-ekstra-large: calc(var(--spacing-normal) * 4);
  --spacing-large: calc(var(--spacing-normal) * 2);
  --spacing-small: calc(var(--spacing-normal) / 2);
  --spacing-ekstra-small: calc(var(--spacing-normal) / 3);
  --spacing-ekstra-ekstra-small: calc(var(--spacing-normal) / 4);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-small);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section {
  padding: 0 var(--spacing-large);
  background-size: cover;
  width: calc(100% - calc(2 * var(--spacing-large)));

  &[data-padding-top] {
    padding-top: var(--spacing-large);
  }

  &[data-padding-bottom] {
    padding-bottom: var(--spacing-large);
  }

  &[data-background="lightgray"] {
    background-color: var(--background-light-gray);
  }

  &[data-background="darkgray"] {
    background-color: var(--background-dark-gray);
  }

  &[data-background="yellow"] {
    background-color: var(--yellow);
  }
}

footer {
  padding: var(--spacing-normal);
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--background-dark-gray);
  align-items: center;
}

/** List **/

ul {
  align-items: center;
  list-style: none;
  gap: var(--spacing-ekstra-ekstra-small);
  padding: unset;

  &[data-padding-left="small"] {
    padding-left: var(--spacing-normal);
  }
}

li {
  &[aria-current] {
    border-bottom: 2px solid var(--yellow);
    font-size: large;
    font-weight: 900;
  }
}

/** Images **/
img {
  max-height: 100%;
  max-width: 100%;
  flex-grow: 1;

  &[data-size="small"] {
    height: 75px;
  }

  &[data-size="large"] {
    width: 100%;
    height: 400px;
    min-width: 300px;
    background-color: var(--background-light-gray);
  }

  &[data-size="xsmall"] {
    height: var(--spacing-ekstra-large);
    width: var(--spacing-ekstra-large);
    flex-grow: unset;
  }
}

i {
  height: var(--spacing-normal);
  max-height: 100%;

  &[data-color="white"] {
    color: var(--white);
  }

  &[data-color="gray"] {
    color: var(--background-dark-gray);
  }
}

/** Cards  **/
article {
  font-weight: 700;
  text-align: start;
  max-width: 692px;
  max-height: 692px;

  &:hover {
    transform: translate3D(0, -1px, 0) scale(1.03);
    transition: all 0.6s ease;
  }
}

iframe {
  width: 100%;
}

/** User input styling **/

form {
  max-width: 550px;
}

label {
  padding: var(--spacing-ekstra-ekstra-small) 0;
}

textarea {
  height: 150px;
  border: none;
  padding-bottom: var(--spacing-ekstra-ekstra-small);
}

input {
  border: unset;
  padding: var(--spacing-small);
}

/**--------------- TYPOGRAPHIC STYLING --------------------------**/
h1 {
  font-size: 3.2em;

  &[data-padding-bottom="large"] {
    padding-bottom: var(--spacing-large);
  }

  &[data-padding-bottom="normal"] {
    padding-bottom: var(--spacing-normal);
  }

  &[data-no-spacing] {
    margin: 0;
    margin-block-end: 0;
    padding: 0;
  }
}

h2 {
  font-size: 2.1em;

  &[data-underline] {
    padding-bottom: var(--spacing-small);
    border-bottom: 2px solid var(--yellow);
    text-align: start;
    padding-left: var(--spacing-normal);
  }
}

h3 {
  font-size: 1.3em;
}

p {
  font-size: 1.2em;
}

/** Button and link styling **/
a {
  &[data-link-button] {
    text-decoration: none;
    color: var(--black);
  }
}

button,
a {
  padding: var(--spacing-small);
  border: unset;

  width: fit-content;
  &[data-color="white"] {
    background-color: var(--white);
    padding: var(--spacing-ekstra-ekstra-small);
    font-weight: 600;

    &:hover {
      background-color: var(--background-dark-gray);
      color: var(--yellow);
    }
  }

  &[data-color="yellow"] {
    background-color: var(--yellow);
    padding: var(--spacing-small);
    font-weight: 600;

    &:hover {
      background-color: var(--background-dark-gray);
      color: var(--yellow);
    }
  }

  &[data-border] {
    border: 1px solid var(--black);
  }
}

/** Positioning classes **/
.grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: var(--spacing-large);

  &[data-grid="2"] {
    grid-template-columns: repeat(2, 50%);
  }
}

.flex {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-normal);
  flex-grow: 1;

  &[data-justify="center"] {
    justify-content: center;
  }

  &[data-align="center"] {
    align-items: center;
  }

  &[data-align="start"] {
    align-items: start;
  }

  &[data-padding="small"] {
    padding: var(--spacing-ekstra-small);
  }

  &[data-padding="normal"] {
    padding: var(--spacing-normal);
  }

  &[data-gap="none"] {
    gap: unset;
  }

  &[data-gap="small"] {
    gap: var(--spacing-small);
  }

  &[data-column] {
    flex-direction: column;
  }

  &[data-wrap] {
    flex-wrap: wrap;
  }
}

/** Styling classses **/
.background_image_about {
  background-image: url("./public/header_img.png");
}

.background_image_index {
  background-image: url("./public/header_img.png");
}

.float_right {
  float: right;
  width: 50%;
  padding: var(--spacing-normal);
  margin: var(--spacing-large);
  background-color: rgba(255, 255, 255, 0.3);
  align-items: flex-start;
}

.text-align-start {
  text-align: start;
}

.side-padding {
  padding: 0 15%;
}

/** --- MEDIA QUERY --**/

@media only screen and (max-width: 40em) {
  .grid,
  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &[data-column-mobile] {
      flex-direction: column;
    }
  }

  .side-padding {
    padding: 0 var(--spacing-normal);
  }

  ul {
    align-items: center;
    flex-direction: column;
    padding-inline-start: 0;
    gap: var(--spacing-small);
  }

  header,
  footer {
    align-items: center;
    flex-direction: column;
  }

  section {
    width: calc(100% - calc(2 * var(--spacing-small)));
    padding: 0 var(--spacing-small);
  }
}
